<h1 class="mt-5">Agregar producto</h1>
<hr>


<form action="" [formGroup]="miFormulario">
    <div class="row g-3 align-items-center mb-3">
    
        <div class="col-auto">
            <label class="col-form-label">Nombre: </label>
        </div>

        <div class="col-auto">
            <input class="form-control" formControlName="nombre">
        </div>
    
        <div class="col-auto">
            <span error-msg 
                [color]="color" 
                [mensaje]="mensaje"
                [valido]="tieneErrores('nombre')">
                Ponemos un texto de prueba para ver que tal 
            </span>
        </div>
    
    </div>

    <!-- [color]="color" [mensaje]="mensaje" -->

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary" (click)="cambiarNombre()">Guardar</button>
            <button class="btn btn-primary" (click)="cambiarColor()">Cambiar Color</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Value: {{miFormulario.value | json }}</pre>
<pre>Valid: {{miFormulario.valid}}</pre>
<small>Mensaje: {{mensaje}}</small>

<div class="row" *customIf="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary mt-5">
            Todo Ok
        </div>
    </div>
</div>

